/*Fonts realway medium500 and realway extra bold800*/

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  background-color: rgb(249,249,249);
  overflow-x: hidden;
}
section{
  overflow-x: hidden;
}
/*COLORS*/
$green: rgb(0,169,157);
$black: rgb(56,56,56); //h3>span
$zblackSmallFont: #7a7a7a;

.icon {
  margin: 0;
  padding: 0;
}

#sample-works {
  .row {
    width: 100%;
  }
}
//class start
@mixin startt {
  position: relative;

  & {
    @media all and(min-width:992px) {
      text-align: center;

      &:before {
        z-index: 0;
        border-top-style: double;
        border-width: 4px;
        border-color: #cccccc;
        width: 27%;
        height: 1px;
        content: "";
        background: transparent;
        position: absolute;
        left:71px;
        top: 19px;
        @media all and(min-width:1200px) {
          left: 114px;
        }
      }

      &:after {
        z-index: 0;
        border-top-style: double;
        border-width: 4px;
        border-color: #cccccc;
        width: 27%;
        height: 1px;
        content: "";
        background: transparent;
        position: absolute;
        right: 72px;
        top: 17px;
        @media all and(min-width:1200px) {
          right: 114px;
        }
      }
    }
  }

  span {
    position: relative;
    z-index: 2;
    font-weight: 800;
    color: rgb(228,228,228);

    &:nth-of-type(1) {
      //img
    }

    &:nth-of-type(2) {
      //start
      color: $green;
    }

    &:nth-of-type(3) {
      //doing-that
    }

    &:nth-of-type(4) {
      //img
      img {
        transform: rotate(180deg);
      }
    }
  }

  .icon {
    margin: 15px auto;

    img {}
  }
}
//icons center

.quote {
  .box-center-relative {
    position: relative;

    .box-center-absolute {
      border-radius: 5px;
      background-color: $green;
      position: absolute;
      width: 35px;
      height: 35px;
      top: 0;
      left: 0;
      left: 50%;
      transform: translate(-50%,-50%) rotate(45deg);


    .fas {
      color: rgb(249,249,249); // between unique and footer
      font-size: 29px;
      transform: rotate(-45deg);
      margin-left: 7px;
      margin-top: 2px;
    }




  &:nth-of-type(1) {
    .icon {
      .fa-key {
        margin-left: 7px;
        margin-top: 7px;
        transform: rotate(136deg);
        font-size: 23px;
      }
    }
  }



}
}

  }


//navbar fixed

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
//onload

.se-pre-con {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99999999;
  background: url("../images/onload.gif") center no-repeat #fff;
}
