#skils {
  padding: 30px 0;
  background-color: rgb(249,249,249);

  & {
    @media all and(min-width:768px) {
      padding: 50px 0;
    }
  }

  & {
    @media all and(min-width:1200px) {
      padding: 100px 0;
    }
  }

  article {
    cursor: pointer;
    padding: 0 10px;
    margin: 30px auto;
    position: relative;
    display: flex;

    .icons {
      padding-right: 20px;

      &:before {
        -webkit-clip-path: polygon(50% 41%, 100% 0, 100% 50%, 50% 100%, 0 54%, 0 0);
        clip-path: polygon(50% 41%, 100% 0, 100% 50%, 50% 100%, 0 54%, 0 0);
        position: absolute;
        content: "";
        width: 40px;
        height: 40px;
        background-color: $green;
        left: 10px;
        top: 38px;
      }

      span {
        color: #cccccc;
        line-height: 55px;
        text-align: center;
        display: block;
        width: 40px;
        height: 55px;
        font-size: 25px;
        background: #333333;
        -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
        clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
      }
    }

    h6 {
      font-weight: bold;
      margin: 0 auto;
      text-transform: uppercase;
      color: #666666;
    }

    p {
      color: #666666;

      small {
        color: #999999;
      }
    }

    &:hover {
      span {
        background-color: $green;
      }

      .icons {
        &:before {
          background-color: #333333;
        }
      }
    }
  }
}
